<div class="filter-container">
  <form [formGroup]="filterForm">
    <div class="over-under-container">
      <mat-checkbox formControlName="mirrorMatches">Mirror Matches</mat-checkbox>
      <mat-checkbox formControlName="allowLegacyContent">Legacy Content</mat-checkbox>
    </div>
    <!-- <mat-checkbox formControlName="allowIllegalDecks">Legacy Decks</mat-checkbox> -->

    <mat-form-field appearance="fill">
      <mat-label>Enter a date range</mat-label>
      <mat-date-range-input [formGroup]="filterForm" [rangePicker]="picker" formGroupName="timeFrame">
        <input matStartDate formControlName="start" placeholder="Start date">
        <input matEndDate formControlName="end" placeholder="End date">
      </mat-date-range-input>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Metas</mat-label>
      <mat-select formControlName="metas">
        <mat-option value='none'>None</mat-option>
        <mat-option *ngFor="let meta of metas" [value]="meta">{{ meta.name }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Events</mat-label>
      <mat-select formControlName="selectedTag">
        <mat-option value=''>None</mat-option>
        <mat-option *ngFor="let tag of tags" [value]="tag">{{ tag }}</mat-option>
      </mat-select>
    </mat-form-field>

    <div class="over-under-container">
      <mat-checkbox formControlName="tournamentsOnly">Tournaments Only</mat-checkbox>
      <mat-checkbox formControlName="worldQualifiersOnly">World Qualifiers Only</mat-checkbox>
    </div>

    <mat-form-field appearance="fill">
      <mat-label matTooltip="Min games needed for games to be statistically relevant">Min Games Threshold</mat-label>
      <input matInput type="number" formControlName="dataThreshold" min="1"
        oninput="this.value = Math.max(this.value, 1)">
    </mat-form-field>

    <button mat-raised-button type="button" (click)="clearFilters()">Clear Filters</button>
  </form>
</div>