<div class="footer-container mat-drawer-container">
    <p>Warhammer Underworlds Statistics Project</p>
    <div class="footer-links">
      <div class="footer-link">
        <mat-icon>assignment</mat-icon>
        <a href="https://docs.google.com/forms/d/e/1FAIpQLSchHKcWiMWNdlPXC6AgsFnWNtogONptF6vyW4gUC6fW584ibA/viewform" target="_blank">Submission Form</a>
      </div>
      <div class="footer-link">
        <mat-icon>table_chart</mat-icon>
        <a href="https://docs.google.com/spreadsheets/d/1HIX_SvAZ6hOa0k65y_tVaNBxTHnZk-7IVPPgGYtcHdI/edit?gid=316203461#gid=316203461"
          target="_blank">Full Stats</a>
      </div>    
      <div class="footer-link">
        <mat-icon>help</mat-icon>
        <a href="https://docs.google.com/document/d/1gLLJZ4VRtUNlrFA5RzTW3wr0w6NJJ-GHPqujSlppT6c/edit?tab=t.0"
          target="_blank">FAQ</a>
      </div>
      <div class="footer-link">
        <mat-icon>event</mat-icon>
        <a href="https://docs.google.com/document/d/1_aNVPn_gF-bP0TGJvEmWlj662OC5xcApXyaQaApTRio/edit?tab=t.0" target="_blank">Event Information</a>
      </div>
      <!-- <div class="footer-link">
        <mat-icon>link</mat-icon>
        <a href="https://pathtoglorypodcast.com/about-statistics-project-second-edition/" target="_blank">Path to Glory</a>
      </div> -->
      <div class="footer-link">
        <mat-icon>event</mat-icon>
        <a href="https://pathtoglorypodcast.com/category/statistics/" target="_blank">Reports</a>
      </div>
      <div class="footer-link">
        <mat-icon>home</mat-icon>
        <a href="https://whustatistics.wordpress.com/" target="_blank">Project Homepage</a>
      </div>
      <div class="footer-link">
        <mat-icon>code</mat-icon>
        <a href="https://github.com/Levartar/underworlds-stats" target="_blank">Source Code on GitHub</a>
      </div>
      <div class="footer-link">
        <mat-icon>volunteer_activism</mat-icon>
        <button mat-button (click)="openDialog()">Support Me</button>
    </div>
    <p>😺💻 by Iba. 🎨 by Henri. 📁 by Borni</p>
  </div>