<div class="footer-container mat-drawer-container">
    <p>Warhammer Underworlds Stats Project</p>
    <div class="footer-links">
      <div class="footer-link">
        <mat-icon>assignment</mat-icon>
        <a href="https://docs.google.com/forms/d/e/1FAIpQLSchHKcWiMWNdlPXC6AgsFnWNtogONptF6vyW4gUC6fW584ibA/viewform" target="_blank">Submission Form</a>
      </div>
      <div class="footer-link">
        <mat-icon>event</mat-icon>
        <a href="https://docs.google.com/document/d/1_aNVPn_gF-bP0TGJvEmWlj662OC5xcApXyaQaApTRio/edit?tab=t.0" target="_blank">Event Information</a>
      </div>
      <!-- <div class="footer-link">
        <mat-icon>link</mat-icon>
        <a href="https://pathtoglorypodcast.com/about-statistics-project-second-edition/" target="_blank">Path to Glory</a>
      </div> -->
      <div class="footer-link">
        <mat-icon>event</mat-icon>
        <a href="https://pathtoglorypodcast.com/category/statistics/" target="_blank">Reports</a>
      </div>
      <div class="footer-link">
        <mat-icon>home</mat-icon>
        <a href="https://whustatistics.wordpress.com/" target="_blank">Project Homepage</a>
      </div>
      <div class="footer-link">
        <mat-icon>code</mat-icon>
        <a href="https://github.com/Levartar/underworlds-stats" target="_blank">Source Code on GitHub</a>
      </div>
    </div>
    <p>🧑‍💻 by Iba. 🎨 by Henri. 📁 by Borni</p>
  </div>