<mat-card appearance="outlined" class="warband-details-card">
    <mat-card-title class="title">
        {{ selectedWarband?.name }}
        <div class="divider"></div>
        <img matListAvatar *ngIf="selectedWarband" [src]="selectedWarband.iconLink" alt="{{ selectedWarband.name }}"
            class="warband-icon" />
        <button mat-mini-fab class="close-button" 
        (click)="closeCard()">
            <mat-icon>close</mat-icon>
        </button>
    </mat-card-title>
    <mat-card-content class="content" *ngIf="selectedWarband">
        <div class="main">
            <div class="over-under-container">
                <p class="fat">{{ selectedWarband.metaScore | number: '0.0-0' }}</p>
                <p>Meta Score</p>
            </div>
            <div class="over-under-container">
                <p class="fat">{{ selectedWarband.gamesPlayed }}</p>
                <p>Games Played</p>
            </div>
            <div class="over-under-container">
            </div>
        </div>
        <div class="footer">
            <div class="over-under-container">
                <p *ngIf="selectedWarband.bestSynergy?.deckCombiName!=''; else notEnoughData" 
                class="fat" matTooltip="{{selectedWarband.bestSynergy.gamesWithDeckCombi}} Games"> 
                    {{ selectedWarband.bestSynergy?.deckCombiName }} - Winrate: {{
                    selectedWarband.bestSynergy?.winrate | number:'1.1-1' }}%</p>
                <p>Best Deck Synergy</p>
            </div>
            <div class="over-under-container">
                <p *ngIf="selectedWarband.bestMatchup?.opponentName!=''; else notEnoughData"
                class="fat" matTooltip="{{selectedWarband.bestMatchup.bestGames}} Games">
                    {{ selectedWarband.bestMatchup?.opponentName }} - Winrate: {{
                    selectedWarband.bestMatchup?.winrate | number:'1.1-1' }}%</p>
                <p>Best Matchup</p>
            </div>
            <div class="over-under-container">
                <p *ngIf="selectedWarband.worstMatchup?.opponentName!=''; else notEnoughData"
                class="fat" matTooltip="{{selectedWarband.worstMatchup.worstGames}} Games"> 
                    {{ selectedWarband.worstMatchup?.opponentName }} - Winrate: {{
                    selectedWarband.worstMatchup?.winrate | number:'1.1-1' }}%</p>
                <p>Worst Matchup</p>
            </div>
        </div>
    </mat-card-content>
</mat-card>

<ng-template #notEnoughData>
    <mat-icon>warning</mat-icon>
    <div>Not Enough Data</div>
</ng-template>