<div class="layout mat-drawer-container">
    <h1 class="heading">Warhammer Underworlds Stats Project</h1>
    <!-- <p><a href="https://pathtoglorypodcast.com/about-statistics-project-second-edition/">Link to Path to Glory</a></p>
    <p><a href="https://docs.google.com/forms/d/e/1FAIpQLSchHKcWiMWNdlPXC6AgsFnWNtogONptF6vyW4gUC6fW584ibA/viewform"> to Submission Form</a></p>
    <p><a href="https://docs.google.com/document/d/1gLLJZ4VRtUNlrFA5RzTW3wr0w6NJJ-GHPqujSlppT6c/edit?tab=t.0"> to FAQ</a></p>
    <p><a href="https://docs.google.com/document/d/1_aNVPn_gF-bP0TGJvEmWlj662OC5xcApXyaQaApTRio/edit?tab=t.0"> to Event Information</a></p>     -->
</div>