@import '../../../theme.scss';

.layout {
    padding-left: 8px;

    display: flex;
    gap: 16px;

    font: 700 25px/32px 'IBM Plex Mono', serif;

    .heading{
        font: 700 25px/32px 'IBM Plex Mono', serif;
        margin-bottom: 4px;
    }
  }
  