<mat-list class="winrate-list" *ngIf="winrateByWarbandChartData">
    <mat-list-item *ngFor="let wbWinrate of winrateByWarbandChartData" class="winrate-list-item">
        <!-- Dynamic Button -->
        <button mat-raised-button class="winrate-button"
            [ngStyle]="wbWinrate.gamesPlayed >= this.minGamesThreshhold ? 
                { width: wbWinrate.winrate + '%'} : {width:'220px'}"
            [ngClass]="{'not-legal': !wbWinrate.legality, 'dark': darkMode, 'light': !darkMode}"
            (click)="navigateToWarbandDetails(wbWinrate)" matTooltip="{{wbWinrate.gamesPlayed}} Games">
            <!-- Icon -->
            <div class="button-content">
                <img matListAvatar [src]="wbWinrate.iconLink" alt="{{ wbWinrate.name }}" class="warband-icon" />
                <div *ngIf="wbWinrate.gamesPlayed>=this.minGamesThreshhold; else notEnoughData">
                    {{ wbWinrate.winrate | number:'1.1-1'}}%</div>
            </div>
        </button>
    </mat-list-item>
</mat-list>

<!-- Router outlet for the details card -->
<router-outlet></router-outlet>

<!--/*alternative if Not Enough Data Threshhold cuts*/-->
<ng-template #notEnoughData>
    <mat-icon>warning</mat-icon> Not Enough Data
</ng-template>