<mat-list class="winrate-list" *ngIf="winrateByWarbandChartData">
    <mat-list-item *ngFor="let wbWinrate of winrateByWarbandChartData" class="winrate-list-item">
        <!-- Dynamic Button -->
        <button mat-raised-button class="winrate-button" 
        [ngStyle]="{ width: wbWinrate.winrate + '%'}"
        [ngClass]="wbWinrate.legality?'':'not-legal'"
        (click)="navigateToWarbandDetails(wbWinrate)">
            <!-- Icon -->
            <div class="button-content">
                <img matListAvatar [src]="wbWinrate.iconLink" 
                alt="{{ wbWinrate.name }}" 
                class="warband-icon" />
                {{ wbWinrate.winrate | number:'1.1-1'}}%
            </div>
        </button>
    </mat-list-item>
</mat-list>

<!-- Router outlet for the details card -->
<router-outlet></router-outlet>