<h1 mat-dialog-title>Information</h1>
<div mat-dialog-content>
  <p>The Underworlds Statistics Project is a community-driven effort to collect global statistics on the game Warhammer Underworlds using the Nemesis format. Game data is submitted by players, organizers, and volunteers. It is maintained by Borni (AKA raumzeit77 / R77). Submit your game data now!</p>
</div>
<div mat-dialog-actions>
    <button mat-button mat-dialog (click)="openSubmitGameLink()">Submit your game</button>
  <button mat-button mat-dialog-close>Close</button>
</div>
