<div class="layout">
  <app-header class="head-tabline"></app-header>

  <!--Sidenav Sliding Navigation menu-->
  <mat-drawer-container class="main">
    <mat-drawer #drawer class="sidenav" mode="over" position="end">
      <mat-nav-list class="sidenav-list">
        <!-- TODO Add these components
        <mat-list-item routerLink="dashboard" (click)="drawer.toggle()">
          <div>Dashboard</div>
        </mat-list-item>-->
        <mat-list-item routerLink="winrates" (click)="drawer.toggle()">
          <div>Winrates</div>
        </mat-list-item>
        <mat-list-item routerLink="meta" (click)="drawer.toggle()">
          <div>Meta</div>
        </mat-list-item>
        <mat-list-item routerLink="warbands" (click)="drawer.toggle()">
          <div>Warbands</div>
        </mat-list-item>
        <mat-list-item routerLink="decks" (click)="drawer.toggle()">
          <div>Decks</div>
        </mat-list-item>
        <mat-list-item routerLink="deck winrates" (click)="drawer.toggle()">
          <div>Deck Winrates</div>
        </mat-list-item>
      </mat-nav-list>
    </mat-drawer>

    <!--Headline With name and options-->

    <!--Headline With name and options-->
    <section class="main-layout">
      <div class="header">
        <div class="headline-container">
          <div class="headline">{{currentRouteName}}</div>
          <div><button mat-stroked-button
              matTooltip="The Underworlds Statistics Project is a community-driven effort to collect global statistics on the game Warhammer Underworlds using the Nemesis format. Game data is submitted by players, organizers, and volunteers. It is maintained by Borni (AKA raumzeit77 / R77). Submit your game data now!">
              ?</button></div>
          <div><button mat-stroked-button (click)="toggleFilter()" matTooltip="Show Filters">
              <mat-icon style="margin-left: 8px;">filter_alt</mat-icon>
            </button></div>
          <div><button mat-stroked-button [matMenuTriggerFor]="options" aria-label="Options menu">Options</button>
            <mat-menu #options="matMenu">
              <button mat-menu-item (click)="toggleTheme()">
                <mat-icon *ngIf="!this.darkmode">dark_mode</mat-icon>
                <span *ngIf="!this.darkmode">Dark Mode</span>
                <mat-icon *ngIf="this.darkmode">light_mode</mat-icon>
                <span *ngIf="this.darkmode">Light Mode</span>
              </button>
              <p mat-menu-item><mat-slide-toggle [checked]="showFilter" (click)="toggleFilter()">Show
                  Filters</mat-slide-toggle></p>
            </mat-menu>
          </div>
        </div>
        <div class="sidebar-menu">
          <button mat-icon-button (click)="drawer.toggle()" aria-label="Sidebar menu">
            <mat-icon>menu</mat-icon>
          </button>
        </div>
      </div>
      <app-filter *ngIf="showFilter"></app-filter>
      <router-outlet></router-outlet>
    </section>

  </mat-drawer-container>

  <app-footer class="footer"></app-footer>
</div>

<!-- 
Listing All Data if fetched correctly
<div *ngIf="data">
    <h2>Warhammer Stats</h2>
    <div *ngFor="let item of data">
      {{ item | json }}
    </div>
  </div> -->