<div class="layout">
  <app-header class="head-tabline"></app-header>

  <!--Sidenav Sliding Navigation menu-->
  <mat-drawer-container class="main">
    <mat-drawer #drawer class="sidenav" mode="over" position="end">
      <mat-nav-list class="sidenav-list">
        <mat-list-item routerLink="dashboard" (click)="drawer.toggle()"
          [ngClass]="currentRouteName==='Dashboard' ? 'selected' : ''">
          <div>Dashboard</div>
        </mat-list-item>
        <mat-list-item routerLink="warbands" (click)="drawer.toggle()"
          [ngClass]="currentRouteName==='Warbands' ? 'selected' : ''">
          <div>Warbands</div>
        </mat-list-item>
        <mat-list-item routerLink="warband-winrates" (click)="drawer.toggle()"
          [ngClass]="currentRouteName==='Warband Winrates' ? 'selected' : ''">
          <div>Warband Winrates</div>
        </mat-list-item>
        <mat-list-item routerLink="warband-meta" (click)="drawer.toggle()"
          [ngClass]="currentRouteName==='Warband Meta' ? 'selected' : ''">
          <div>Warband Meta</div>
        </mat-list-item>
        <mat-list-item routerLink="decks" (click)="drawer.toggle()"
          [ngClass]="currentRouteName==='Decks' ? 'selected' : ''">
          <div>Decks</div>
        </mat-list-item>
        <mat-list-item routerLink="deck-winrates" (click)="drawer.toggle()"
          [ngClass]="currentRouteName==='Deck Winrates' ? 'selected' : ''">
          <div>Deck Winrates</div>
        </mat-list-item>
        <mat-list-item routerLink="deck-meta" (click)="drawer.toggle()"
          [ngClass]="currentRouteName==='Deck Meta' ? 'selected' : ''">
          <div>Deck Meta</div>
        </mat-list-item>
        <mat-list-item class="highlight">
          <div class="centered"><mat-icon>assignment</mat-icon>
            <a href="https://docs.google.com/forms/d/e/1FAIpQLSchHKcWiMWNdlPXC6AgsFnWNtogONptF6vyW4gUC6fW584ibA/viewform"
              target="_blank">Submission Form</a>
          </div>
        </mat-list-item>
        <mat-list-item>
          <div class="centered"><mat-icon>table_chart</mat-icon>
            <a href="https://docs.google.com/spreadsheets/d/1HIX_SvAZ6hOa0k65y_tVaNBxTHnZk-7IVPPgGYtcHdI/edit?gid=316203461#gid=316203461"
              target="_blank">Full Stats</a>
          </div>
        </mat-list-item>
        <mat-list-item>
          <div class="centered"><mat-icon>help</mat-icon>
            <a href="https://docs.google.com/document/d/1gLLJZ4VRtUNlrFA5RzTW3wr0w6NJJ-GHPqujSlppT6c/edit?tab=t.0"
              target="_blank">FAQ</a>
          </div>
        </mat-list-item>
        <mat-list-item>
          <div class="centered"><mat-icon>event</mat-icon>
            <a href="https://docs.google.com/document/d/1_aNVPn_gF-bP0TGJvEmWlj662OC5xcApXyaQaApTRio/edit?tab=t.0"
              target="_blank">Event Information</a>
          </div>
        </mat-list-item>
        <mat-list-item>
          <div class="centered"> <mat-icon>home</mat-icon>
            <a href="https://whustatistics.wordpress.com/" target="_blank">Project Homepage</a>
          </div>
        </mat-list-item>
      </mat-nav-list>
    </mat-drawer>

    <!--Headline With name and options-->
    <section class="main-layout">
      <div class="header">
        <div class="headline-container">
          <div class="headline">{{currentRouteName}}</div>
          <div><button mat-stroked-button (click)="openDialog()" class="custom-button">
              ?</button></div>
          <div><button mat-stroked-button (click)="toggleFilter()" matTooltip="Show Filters">
              <mat-icon style="margin-left: 8px;">filter_alt</mat-icon>
            </button></div>
          <div><button mat-stroked-button [matMenuTriggerFor]="options" aria-label="Options menu">Options</button>
            <mat-menu #options="matMenu">
              <button mat-menu-item (click)="toggleTheme()">
                <mat-icon *ngIf="!this.darkmode">dark_mode</mat-icon>
                <span *ngIf="!this.darkmode">Dark Mode</span>
                <mat-icon *ngIf="this.darkmode">light_mode</mat-icon>
                <span *ngIf="this.darkmode">Light Mode</span>
              </button>
              <p mat-menu-item><mat-slide-toggle [checked]="showFilter" (click)="toggleFilter()">Show
                  Filters</mat-slide-toggle></p>
            </mat-menu>
          </div>
        </div>
        <div class="sidebar-menu">
          <button mat-icon-button (click)="drawer.toggle()" aria-label="Sidebar menu">
            <mat-icon>menu</mat-icon>
          </button>
        </div>
      </div>
      <app-filter *ngIf="showFilter"></app-filter>
      <router-outlet class="router-outlet"></router-outlet>
    </section>

    <app-footer class="footer"></app-footer>
  </mat-drawer-container>
</div>

<!-- 
Listing All Data if fetched correctly
<div *ngIf="data">
    <h2>Warhammer Stats</h2>
    <div *ngFor="let item of data">
      {{ item | json }}
    </div>
  </div> -->