@import '../../theme.scss';


.layout {
  //background-color: $background-color;
  //color: $font-color;
}

.head-tabline {
}

.main {
}

.footer {
}


.main-layout {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden; /* Prevent horizontal overflow */

  display: grid;
  grid:
    "header" auto "main" 1fr;
  gap: 8px;
  box-sizing: border-box;

  .header {
    width: 100%;
    max-width: 100%;
    display: flex;
    gap: 8px;
    justify-content: space-between;
    box-sizing: border-box;

    .headline-container{
      grid-area: header;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      gap: 16px;
      align-items: center;
      margin: 6px;
      padding-left: 2px;
    }

    //.sidebar-menu{
    //}
  }
}

.mat-stroked-button {
  border-radius: 9999px;
  color: $primary-color; // Use Material palette
}

.main {
  grid-area: main;
}

.headline {
  font: 700 25px/32px 'IBM Plex Mono', serif;
}

.sidenav{
  padding: 0px 8px 0px 8px;

  .sidenav-list > mat-list-item{
    margin: 4px;
  }
}