@import '../../styles.scss';

.main-layout {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden; /* Prevent horizontal overflow */

  display: grid;
  grid:
    "header" auto "main" 1fr;
  gap: 8px;
  box-sizing: border-box;
}

.header {
  width: 100%;
  max-width: 100%;
  display: flex;
  gap: 8px;
  justify-content: space-between;
  box-sizing: border-box;
}

.headline-container{
  grid-area: header;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  align-items: center;
  margin: 6px;
  padding-left: 2px;
}

.sidebar-menu{
  padding-right: 4px;
}

.mat-stroked-button {
  border-radius: 9999px;
  color: $primary-color; // Use Material palette
}

.main {
  grid-area: main;
}

.headline {
  font: 700 25px/32px 'IBM Plex Mono', serif;
}

.sidenav{
  padding: 0px 8px 0px 8px;

  .sidenav-list > mat-list-item{
    margin: 4px;
  }
}

.centered {
  display: flex;
  align-items: center;
  gap: 8px;
  a{
    text-decoration: none;
    color:inherit
  }
}

.sidenav-list {
  overflow: hidden;
}

::ng-deep .mat-mdc-outlined-button {
  border-color: var(--text-color) !important; // Use the current theme's text color
}

.highlight {
  background-color: var(--primary-color);
}