@import '../../../theme.scss';

.landing-page-container {
    width: 100%;

    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 120px;
    padding-top: 20px;
}

//.grow1 {
//    flex-grow: 1;
//    justify-content: center;
//    display: flex;
//}

.center{
    display: flex;
    justify-content: center;
}

.top-warbands-card,
.top-deck-combis-card,
.games-played-card {
    width: 350px;
    height: 380px;
}

.title {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    margin: 16px;
    height: 64px;
    font: 700 25px/32px 'IBM Plex Mono', serif;
}

.mat-form-field {
    width: 100%;
}

.winrate-list-item {
    margin-top: 20px;
    margin-left: 16px;

    .not-legal {
        border: 2px dashed $background-color;
        /* Dashed border with desired color */
        border-radius: 4px;
        /* To match Angular Material's button styling */
        padding: 8px 16px;
        background-color: transparent;
        /* Transparent background for outline effect */
        transition: background-color 0.3s ease, color 0.3s ease;
    }

    .light.not-legal {
        border: 2px dashed white;
        /* Dashed border with desired color */
    }

    .light {
        background-color: #333;
        color: white;
    }

    .dark {
        background-color: white;
        color: black;
    }

    .winrate-button {
        display: flex;
        align-items: center;
        justify-content: flex-start;

        border-radius: 25px;
        text-align: left;
        padding: 0 0 0 8px;
        gap: 10px;
        min-height: 40px;
        min-width: 100px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

        /* Set a minimum width for small winrates */
        .warband-icon {
            width: 30px;
            height: 30px;
            border-radius: 50%;
        }

        .button-content {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 8px;
        }
    }
}