<p>main works!</p>
<mat-tab-group>
  <mat-tab label="Dashboard">
    <app-dashboard></app-dashboard>
  </mat-tab>
  <mat-tab label="Warbands">
    <div>Test Warbands</div>
    <!-- <app-warbands></app-warbands> -->
  </mat-tab>
  <mat-tab label="Decks">
    <div>Test Decks</div>
    <!-- <app-decks></app-decks> -->
  </mat-tab> 
</mat-tab-group>

<!-- 
Listing All Data if fetched correctly
<div *ngIf="data">
    <h2>Warhammer Stats</h2>
    <div *ngFor="let item of data">
      {{ item | json }}
    </div>
  </div> -->
