<div class="dashboard">
    <h1>Warhammer Underworlds Dashboard</h1>
    <p>Total Recorded Games: {{ totalGames }}</p>
    
    <p>Played Games by Warband</p>
    <div style="width: 50%; margin: auto;">
      <canvas id="gamesByWarbandChart"></canvas>
    </div>

    <p>Metascore by Warband</p>
    <div style="width: 50%; margin: auto;">
      <canvas id="metascoreByWarband"></canvas>
    </div>

    <p>Metascore by Deck Combi</p>
    <div style="width: 50%; margin: auto;">
      <canvas id="metascoreByDeckCombi"></canvas>
    </div>
  </div>