<div class="dashboard">
    <h1>Warhammer Underworlds Dashboard</h1>
    <p>Total Recorded Games: {{ totalGames }}</p>
    
    <p>Played Games by Warband</p>
    <app-doughnut-chart
        *ngIf="gamesByWarbandChartData"
        [chartId]="'playedByWarbandChart'"
        [data]="gamesByWarbandChartData">
    </app-doughnut-chart>

    <p>Metascore by Warband</p>
    <app-doughnut-chart
        *ngIf="metascoreByWarbandChartData"
        [chartId]="'MetascoreByWarband'"
        [data]="metascoreByWarbandChartData">
    </app-doughnut-chart> 

    <p>Metascore by Deck Combi</p>
    <div style="width: 50%; margin: auto;">
      <canvas id="metascoreByDeckCombi"></canvas>
    </div>
  </div>