<div class="layout">
  <app-header class="head-tabline"></app-header>

  <!--Sidenav Sliding Navigation menu-->
  <mat-drawer-container class="main">
    <mat-drawer #drawer class="sidenav" mode="over" position="end">
      <mat-nav-list>
        <mat-list-item routerLink="/main/dashboard">
          <div>Dashboard</div>
        </mat-list-item>
        <mat-list-item routerLink="/main/decks">
          <div>Test Decks</div>
        </mat-list-item>
        <mat-list-item routerLink="/main/winrate">
          <div>Test Winrate</div>
        </mat-list-item>
        <mat-list-item routerLink="/main/meta">
          <div>Test Meta</div>
        </mat-list-item>
        <mat-list-item routerLink="/main/warbands">
          <div>Test Warbands</div>
        </mat-list-item>
      </mat-nav-list>
    </mat-drawer>
  
    <!--Headline With name and options-->
    <section class="main-layout">
      <div class="header">
        <div class="headline-container">
          <div class="headline">Dashboard</div>
          <div><button mat-stroked-button>?</button></div>
          <div><button mat-stroked-button [matMenuTriggerFor]="options" aria-label="Options menu">Options</button>
            <mat-menu #options="matMenu">
              <button mat-menu-item (click)="toggleTheme()">
                <mat-icon *ngIf="!this.darkmode">dark_mode</mat-icon>
                <span *ngIf="!this.darkmode">Dark Mode</span>
                <mat-icon *ngIf="this.darkmode">light_mode</mat-icon>
                <span *ngIf="this.darkmode">Light Mode</span>
              </button>
            </mat-menu>
          </div>
        </div>
        <div class="sidebar-menu">
          <button mat-icon-button (click)="drawer.toggle()" aria-label="Sidebar menu">
            <mat-icon>menu</mat-icon>
          </button>
        </div>
      </div>
      <router-outlet></router-outlet>
    </section>
  
  </mat-drawer-container>

  <app-footer class="footer"></app-footer>
</div>

<!-- 
Listing All Data if fetched correctly
<div *ngIf="data">
    <h2>Warhammer Stats</h2>
    <div *ngFor="let item of data">
      {{ item | json }}
    </div>
  </div> -->