@use '@angular/material' as mat;
/* You can add global styles to this file, and also import other style files */
/* src/styles.css */
@import './theme.scss';


html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
}
//     $font-family: "Times New Roman, Times, serif"
$custom-typography: mat.define-typography-config(
    $font-family: "IBM Plex Mono, serif"
);
$light-primary: mat.define-palette(mat.$blue-gray-palette);
$light-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$custom-warn: mat.define-palette(mat.$red-palette);

$light-theme: mat.define-light-theme(
    (
        color: (
            primary:$light-primary,
            accent:$light-accent,
            warn:$custom-warn,
        ),

    )
);

$dark-primary: mat.define-palette($primary-palette);
$dark-accent: mat.define-palette(mat.$amber-palette,A200,A100,A400);

$dark-theme: mat.define-dark-theme(
    (
        color: (
            primary:$dark-primary,
            accent:$dark-accent,
            warn:$custom-warn,
            background: $dark-theme-background,
        ),
        typography: $custom-typography,
    )
);

//@include mat.all-component-themes($custom-theme);

body.light-theme{
    @include mat.all-component-colors($light-theme);
    --primary-color: #{mat.get-color-from-palette($light-primary)};
    --accent-color: #{mat.get-color-from-palette($light-accent)};
}

body.dark-theme{
    @include mat.all-component-colors($dark-theme);
    --primary-color: #{mat.get-color-from-palette($dark-primary)};
    --accent-color: #{mat.get-color-from-palette($dark-accent)};
}


// -----------------Deprecated----------------
// /* Apply the colors globally */
// /* Custom chart colors (optional, for example, in charts) */
// .chart-positive-color {
//     background-color: $positive-chart-color;
// }

// .chart-negative-color {
//     background-color: $negative-chart-color;
// }

// /* Customize Material Design or your own components */
// .mat-card {
//     background-color: var(--secondary-color);
// }

// .custom-backdrop {
//     background: rgba(0, 0, 0, 0.5);
//     /* Semi-transparent black */
// }

// .custom-dialog-container {
//     position: relative;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     border-radius: 8px;
//     box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
// }

// .cdk-overlay-backdrop {
//     background: rgba(0, 0, 0, 0.5);
//     /* Semi-transparent black */
//     position: fixed;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     cursor: pointer;
//     /* Indicate it's clickable */
// }
